@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
}

.header {
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav ul {
  margin-left: 2rem;
  display: none;
}

.header nav li + li {
  margin-left: 1rem;
}

.header nav ul li {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.header nav li {
  position: relative;
  cursor: pointer;
}

.header nav li::after,
.header nav li::before {
  content: "";
  position: absolute;
  background-color: #ffc800;
  width: 100%;
  height: 0.8rem;
  bottom: 4px;
  left: 0;
  border-radius: 12px;
  display: none;
  z-index: -1;
}

.header nav li:hover::after {
  display: block;
}

.header nav li:nth-child(1)::after, .header nav li:nth-child(1)::before {
  content: "";
  position: absolute;
  background-color: #ffc800;
  width: 100%;
  height: 0.8rem;
  bottom: 4px;
  left: 0;
  border-radius: 12px;
  display: block;
  z-index: -1;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right .badge {
  background: #ffc800;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.header__right img {
  width: 18.21px;
  height: 18.65px;
}

.header__right span {
  width: 20px;
  height: 20px;
  background-color: #009efe;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -3px;
  border: 2px solid #fff;
}

.header__right .menu {
  width: 32px;
  height: 32px;
  margin-left: 1rem;
}

.header__right .menu img {
  width: 32px;
  height: 32px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.slider__control {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider__control span {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.slider__control .active {
  background-color: #ffc800;
}

.intro {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.intro .bg {
  margin-bottom: 80px;
  background-image: url(../images/background/city.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro h1 {
  position: static;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1rem;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.new__info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.new__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 80px;
}

.new__img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.new__card {
  margin-top: 60px;
  max-width: 654px;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  border-radius: 16px;
  position: relative;
}

.new__card::before {
  content: "";
  position: absolute;
  top: -36px;
  left: 8px;
  width: 26.56px;
  height: 126.75px;
  background: #fcd4d4;
  opacity: 0.7;
  -webkit-transform: rotate(43.17deg);
          transform: rotate(43.17deg);
}

.new__card h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.new__card span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1rem;
}

.new__card-group:nth-child(2) {
  margin-top: 2rem;
}

.new__card-group:nth-child(5) {
  margin-bottom: 2rem;
}

.new__card-group {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__card-group img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 1.6rem;
}

.btn {
  min-width: 140px;
  width: 170px;
  height: 40px;
  border-radius: 12px;
  padding: 8px 24px;
  background-color: #ffc800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.tote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}

.tote__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tote__intro h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.tote__intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.tote__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  padding-top: 40px;
}

.tote__card {
  border-radius: 8px;
  width: 152px;
  height: 100%;
  -webkit-box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
  padding: 4px;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

.tote__card::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../images/background/card-hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: none;
  z-index: -1;
  top: -10px;
  left: 10px;
  opacity: 0;
}

.tote__card .btn {
  width: 100%;
  min-width: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  margin: 1rem 0 0 0;
  display: none;
}

.tote__card:hover .btn {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tote__card-group {
  width: 100%;
  height: auto;
  padding: 12px 12px 12px 12px;
}

.tote__card-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.tote__card img {
  height: 144px;
  border-radius: 8px;
  width: 144px;
}

.tote__card h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.tote__card p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #009efe;
  opacity: 0.8;
  margin: 0.4rem 0;
}

.tote__card span + span {
  margin-left: 0.6rem;
}

.tote__card span {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.tote__card .pink {
  background: #ef9cd6;
}

.tote__card .blue {
  background: #85cef2;
}

.tote__card .yellow {
  background: #f4ea88;
}

.review {
  margin-top: 100px;
  margin-left: -4rem;
}

.review__img img {
  max-width: 70%;
  height: auto;
  display: block;
}

.review__comment {
  margin-top: 80px;
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__comment h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.review__comment p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.review__comment-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.review__comment-group {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__comment-control {
  margin-top: 2rem;
}

.review__comment-control span + span {
  margin-left: 2rem;
}

.review__comment-control span {
  width: 40px;
  height: 40px;
  background-color: #ffc800;
  display: inline-block;
  border-radius: 50%;
  padding: 9px;
  text-align: center;
  cursor: pointer;
}

.review__comment-control span img {
  display: block;
  width: 22px;
  height: 22px;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.instagram__intro {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.instagram__intro h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.instagram__intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 1rem 0;
}

.instagram__intro div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram__intro div a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #009efe;
  margin-left: 0.6rem;
}

.instagram__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  margin-left: -24px;
  margin-right: -24px;
}

.instagram__card + .instagram__card {
  margin-left: 2rem;
}

.instagram__card {
  min-width: 156px;
  height: 156px;
  background-color: #fff;
  border-radius: 8.71251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
}

.instagram__card img {
  width: 147.24px;
  height: 147.24px;
  border-radius: 8.71251px;
}

.footer {
  height: 192px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li {
  list-style-type: none;
}

.footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer nav ul {
  line-height: 4rem;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer {
    max-width: 768px;
  }
  .container {
    max-width: 768px;
  }
  .header {
    height: 90px;
  }
  .header nav ul {
    display: block;
  }
  .header__right .menu {
    display: none;
  }
  .new__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .review__comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review__comment p {
    text-align: center;
  }
  .footer nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer nav ul li {
    margin-right: 2rem;
  }
  .footer__contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__contact img + img {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .footer {
    max-width: 1024px;
  }
  .header nav ul {
    margin-left: 4rem;
  }
  .header nav ul li + li {
    margin-left: 3rem;
  }
  .new {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .new__info h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .new__card {
    text-align: start;
  }
  .new__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 0;
  }
  .intro {
    position: relative;
  }
  .intro h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 530px;
    height: 216px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .intro__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 390px;
    height: 330px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .tote__intro {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tote__intro h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .tote__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tote__card {
    width: 285px;
    height: 100%;
    border-radius: 16px;
    padding: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .tote__card::after {
    display: block;
  }
  .tote__card:hover::after {
    display: block;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 1;
  }
  .tote__card-group {
    padding: 1rem 0 0 0;
    height: auto;
  }
  .tote__card img {
    width: 237px;
    height: 237px;
    border-radius: 8px;
  }
  .review {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .review__img img {
    max-width: 80%;
  }
  .review__comment {
    margin-left: -50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .review__comment p {
    text-align: start;
  }
  .review__comment h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .review__comment-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .review__comment-img {
    width: 80%;
  }
  .review__comment-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .instagram__intro h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  .instagram__card {
    min-width: 285px;
    height: 285px;
    border-radius: 16px;
    padding: 8px;
    -webkit-filter: drop-shadow(0px 6px 36px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 6px 36px rgba(0, 0, 0, 0.1));
  }
  .instagram__card img {
    width: 269px;
    height: 269px;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 90px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
  .footer {
    max-width: 1300px;
  }
  .tote__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .review__comment {
    max-width: 80%;
    margin-left: -50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .review__comment p {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */