// @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
$blackColor: #000;
$yellowColor: #ffc800;
$whiteColor: #fff;
$backgroundColor: #f1f1f1;
$secondaryColor: #009efe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $backgroundColor;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $backgroundColor;
  padding: 0 24px;
}

.header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $whiteColor;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      margin-left: 2rem;
      display: none;

      li + li {
        margin-left: 1rem;
      }
    }

    ul li {
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    .badge {
      background: $yellowColor;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
    }

    img {
      width: 18.21px;
      height: 18.65px;
    }

    span {
      width: 20px;
      height: 20px;
      background-color: $secondaryColor;
      color: $whiteColor;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      top: -5px;
      right: -3px;
      border: 2px solid $whiteColor;
    }

    .menu {
      width: 32px;
      height: 32px;
      margin-left: 1rem;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  &__control {
    align-self: center;

    span {
      width: 12px;
      height: 12px;
      background-color: $yellowColor;
      margin: 0.6rem;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;

      .active {
        background-color: $yellowColor;
      }
    }
  }
}

.intro {
  position: static;
  display: flex;
  flex-direction: column;

  h1 {
    position: static;
  }
  div {
    position: static;
  }
}

.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__info {
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__img {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
  }

  &__card {
    margin-top: 60px;
    max-width: 654px;
    height: auto;
    background-color: $whiteColor;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    padding: 4rem;
    border-radius: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -36px;
      left: 8px;
      width: 26.56px;
      height: 126.75px;
      background: #fcd4d4;
      opacity: 0.7;
      transform: rotate(43.17deg);
    }

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin-left: 1rem;
    }

    &-group:nth-child(2) {
      margin-top: 2rem;
    }
    &-group:nth-child(5) {
      margin-bottom: 2rem;
    }

    &-group {
      margin: 1rem 0;
      display: flex;
      align-items: center;

      img {
        align-self: flex-start;
        margin-right: 1.6rem;
      }
    }
  }
}

.btn {
  min-width: 140px;
  width: 170px;
  height: 40px;
  border-radius: 12px;
  padding: 8px 24px;
  background-color: $yellowColor;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.tote {
  display: flex;
  flex-direction: column;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__list {
    display: flex;
    overflow-x: hidden;
  }

  &__card {
    // width: 285px;
    // height: 397px;
    // border-radius: 16px;
    // padding: 2.4rem;
    border-radius: 8px;
    width: 152px;
    // height: 301px;
    height: auto;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    padding: 4px;
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
    background-color: $whiteColor;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    &-group {
      width: 100%;
      height: auto;
      padding: 12px 12px 12px 12px;
    }

    &-color {
      display: flex;
      text-align: center;
    }

    img {
      height: 144px;
      border-radius: 8px;
      width: 144px;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #009efe;
      opacity: 0.8;
      margin: 0.4rem 0;
    }

    span + span {
      margin-left: 0.6rem;
    }

    span {
      display: inline-block;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
      background-color: $whiteColor;
    }

    .pink {
      background: #ef9cd6;
    }

    .blue {
      background: #85cef2;
    }

    .yellow {
      background: #f4ea88;
    }
  }

  &__card + &__card {
    margin-left: 2rem;
  }
}

$marginLeftReview: 4rem;
.review {
  margin-top: 100px;
  margin-left: -$marginLeftReview;

  &__img {
    img {
      max-width: 70%;
      height: auto;
      display: block;
    }
  }

  &__comment {
    margin-left: $marginLeftReview;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    align-items: flex-start;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }

    &-img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    &-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-control {
      margin-top: 2rem;
      span + span {
        margin-left: 2rem;
      }
      span {
        width: 40px;
        height: 40px;
        background-color: $yellowColor;
        display: inline-block;
        border-radius: 50%;
        padding: 9px;
        text-align: center;

        img {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.instagram {
  display: flex;
  flex-direction: column;

  &__intro {
    text-align: center;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-left: -24px;
    margin-right: -24px;
  }

  &__card + &__card {
    margin-left: 2rem;
  }

  &__card {
    // width: 285px;
    // height: 285px;
    min-width: 156px;
    height: 156px;
    background-color: $whiteColor;
    // border-radius: 16px;
    border-radius: 8.71251px;

    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 8px;
    // filter: drop-shadow(0px 6px 36px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 3.26719px 19.6032px rgba(0, 0, 0, 0.1));

    img {
      // width: 269px;
      // height: 269px;
      width: 147.24px;
      height: 147.24px;
      border-radius: 8.71251px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 192px;
  width: 100%;
  background-color: $whiteColor;

  nav {
  }

  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    flex: 1 0 50%;
  }

  &__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

//----------------------------------------------------
//----------------------------------------------------
//----------------------------------------------------
//----------------------------------------------------
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    background-color: $backgroundColor;
    height: 90px;
    nav {
      ul {
        display: block;
      }
    }

    &__right {
      .menu {
        display: none;
      }
    }
  }

  .tote {
    &__intro {
      align-items: flex-start;
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
      }
    }

    &__list {
      display: flex;
      overflow-x: hidden;
    }

    &__card {
      width: 285px;
      height: 397px;
      border-radius: 16px;
      padding: 2.4rem;
      // border-radius: 8px;
      // width: 152px;
      height: auto;
      box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
      font-weight: 700;
      line-height: 2.4rem;
      font-size: 1.6rem;
      background-color: $whiteColor;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;

      &-group {
        width: 100%;
        height: auto;
        padding: 1rem 0 0 0;
      }

      img {
        width: 237px;
        height: 237px;
        border-radius: 8px;
      }

      span + span {
        margin-left: 0.6rem;
      }
    }

    &__card + &__card {
      margin-left: 2rem;
    }
  }

  .review {
    &__comment {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .header {
    nav {
      ul {
        margin-left: 4rem;
        li + li {
          margin-left: 3rem;
        }
      }
    }
  }

  .new {
    flex-direction: row-reverse;

    &__info {
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
      }
    }
  }

  .intro {
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
    h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 530px;
      height: 216px;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 72px;
    }
    div {
      position: absolute;
      top: 0;
      right: 0;
      width: 390px;
      height: 330px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .review {
    margin-top: 100px;
    display: flex;
    flex-direction: row;

    &__img {
      img {
        max-width: 80%;
      }
    }

    &__comment {
      max-width: 80%;
      margin-left: -50px;
      justify-content: flex-start;

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
      }

      &-group {
        flex-direction: row;
      }

      &-img {
        width: 80%;
      }

      &-control {
        display: flex;
        transform: rotate(-90deg);
      }
    }
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }

  .tote {
    &__list {
      justify-content: space-between;
    }
  }

  .review {
    &__comment {
      max-width: 80%;
      margin-left: -50px;
      justify-content: flex-start;

      p {
        width: 80%;
      }
    }
  }
}
